body { font-size:100%; font-family: serif; width:50em; margin-left: auto; margin-right: auto; margin-top: 0; }
h1 { font-size: 1.4em; font-weight: bold; font-family: sans-serif; margin-right: 0; padding-left: 0; margin-top: 0; border-top: thin dotted #8AB8E6; color: #8AB8E6; padding-top: 0.5em; }
h2 { font-size: 1em; margin-top: 2em; font-weight: bold; font-family: sans-serif; border-bottom: thin dotted #8AB8E6; color: #8AB8E6;}
h2.ttop { margin-top: 0; }
h3 { font-size: 1em;  font-weight: bold; font-family: sans-serif; margin-top: 2em; color: #8AB8E6;}
pre { overflow: auto; padding: 0.5em; width: 90%; margin-left: auto; margin-right: auto;}
footer { width: auto; font-size: 0.95em; margin-top: 2em; padding-top: 1em; margin-left: auto; margin-right: auto; margin-bottom: 3em; border-top: thin solid #E6E6E6; color: gray; clear:left; }
ul, dl { width: auto; margin-left: 0; margin-right: auto; }
ul { list-style-type: square; }
dt { font-weight: bold; }
dt.title { font-weight: bold; margin-top: 1em; }
dd.title { margin-left: 0em; margin-bottom: 1em; margin-top: 0.2em; }
dd.title:first-letter { padding-left: 1em; }
ul.menu { width: 50%; list-style-type: none; padding: 0; float: right; margin: 0;}
li.menu { display:inline; float: right; margin-left: 2em;}
ul.downlink { list-style-type: none; padding: 0; }
a.headtitle { font-family: sans-serif; text-decoration: none; color: gray; font-size: 1.4em; font-weight: bold; display:block; margin-top: 0.3em;}
a.headsubtitle { font-family: sans-serif; text-decoration: none; color: gray; display:block; }

a.menu { font-family: sans-serif; }
a.menu:link, a.menu:visited { text-decoration: none;}
a.menu:hover, a.menu:active { text-decoration: underline;}

p { width: 95%; margin-left: auto; margin-right: 0;}
p.indent:first-letter { padding-left: 1.5em; }
p.download { font-size: 1em; padding-left: 5em;}
p.abstract { padding-bottom: 1em;}
p.li { width: 100%; }
div.notes { width: auto; font-size: 0.95em; margin-top: 2em; padding-top: 0em; margin-left: auto; margin-right: auto; margin-bottom: 3em; border-top: thin solid #E6E6E6; clear:left; }

code { width: 95%; padding-left: 3em;}

img { border: none; }
img.figure { border: none; display: block; margin-left: auto; margin-right: auto; }
figure { margin-left: auto; margin-right: auto; }

div.headhead { height: 5em; margin-top: 0.5em; }
div.headtitle { margin-left: 0; padding-top: 0.2em; }
div.sans { display:inline; font-family: sans; }
div.caption { display:inline; font-size: 0.9em; text-align:center; }
img.symbol { float: left; padding-right: 1em; padding-bottom: 0.5em;}
img.head { float:left; padding: 0; padding-right: 2em; padding-left: 0.5em; height: 5em; width: 5em; margin: 0; border: none; }
caption { font-size: 0.9em; padding-bottom: 0.5em; }
figcaption { font-size: 0.9em;  text-align:center; margin-left: auto; margin-right: auto; margin-top: 0.5em; width: 61%; }

td, th { border:1px solid gray;  padding:3px 7px 2px 7px; }
td.blank { border: none; padding:3px 7px 2px 7px; }
th { background-color:#8AB8E6; color:#ffffff; }
tr.alt td { background-color: #ddd; }
table { border-collapse:collapse; margin-left: auto; margin-right: auto;}
caption:before { content: "Table: "; font-weight:bold; }
figcaption:before { content: "Figure: "; font-weight:bold; }
div.screenshots {  margin-left: auto; margin-right: auto;}
a.image { display: block; text-decoration: none; width:100%; margin-left: auto; margin-right: auto; }

.ac_loading { background: white url('javascript/spinner.gif') right center no-repeat; }

p.l { width: auto; }
p.r { width: auto; }
